@use "reset";
@use "variables" as v;
@use "mixin";

.createTicketBtn {
  @include mixin.button;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 10px 10px;
  }
}

.ticketsContainer {
  width: 80%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.ticketBox {
  height: 20rem;
  border: 1px solid black;
  background-color: v.$mainColor;
  @include mixin.centerColumn;
  transition: 0.3s;

  &:hover {
    .navBar--edit {
      display: block;
      border-radius: 20px;
      padding: 0.5rem;
      background-color: white;
    }
  }
}

.navBar {
  height: 20%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &--title {
    color: black;
  }
  &--edit {
    display: none;
  }

  &--nameTag {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;
  }
}

.textBox {
  @include mixin.center;
  height: 60%;
  width: 100%;

  &--text {
    color: black;
    padding: 0.3rem;
  }
}

.footer {
  height: 20%;
  width: 100%;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.easyColor {
  background-color: v.$mainColor;
}
.mediumColor {
  background-color: v.$mediumColor;
}
.hardColor {
  background-color: v.$urgentColor;
}
