@use "reset";
@use "variables" as v;

@mixin button {
  padding: 2rem;
  border-radius: 20px;
  font-size: v.$smallText;
  background-color: v.$buttonColor;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin spaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin radioBtn {
  width: 1.5rem;
  height: 1.5rem;
}

@mixin input {
  border-radius: 10px;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
