@use "reset";
@use "variables" as v;

@mixin button {
  padding: 2rem;
  border-radius: 20px;
  font-size: v.$smallText;
  background-color: v.$buttonColor;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
