* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.createTicketBtn {
  padding: 2rem;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(215, 250, 219);
  transition: 0.3s;
  cursor: pointer;
}
.createTicketBtn:hover {
  box-shadow: 10px 10px;
}

.ticketsContainer {
  width: 80%;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.ticketBox {
  height: 20rem;
  border: 1px solid black;
  background-color: rgb(255, 238, 203);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ticketBox:hover .navBar--edit {
  opacity: 100;
}

.navBar {
  height: 20%;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navBar--title {
  color: black;
}
.navBar--edit {
  opacity: 0;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(215, 250, 219);
  transition: 0.3s;
  cursor: pointer;
}
.navBar--nameTag {
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem;
}

.textBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}
.textBox--text {
  color: black;
  padding: 0.3rem;
}

.footer {
  height: 20%;
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer--numberDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.footer--none {
  display: none;
}

.easyColor {
  background-color: rgb(255, 238, 203);
}

.mediumColor {
  background-color: rgb(137, 149, 241);
}

.hardColor {
  background-color: rgb(241, 96, 96);
}

.cancelTicket {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(241, 96, 96);
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.cancelTicket:hover {
  box-shadow: 5px 5px black;
}

.deleteTicket {
  padding: 1rem;
  background-color: rgb(241, 96, 96);
  border-radius: 20px;
}

.ticketContainer {
  width: 40rem;
  height: 30rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spanTitle {
  position: relative;
}

.containerNavBar {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.containerNavBar--title {
  border-radius: 10px;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.containerNavBar--name {
  border-radius: 10px;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.containerNavBar--easy {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: rgb(255, 238, 203);
}
.containerNavBar--medium {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: rgb(137, 149, 241);
}
.containerNavBar--hard {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: rgb(241, 96, 96);
}

.textArea {
  height: 60%;
  width: 100%;
  padding: 1rem;
}

.containerFooter {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.containerFooter--order {
  border-radius: 10px;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.containerFooter--item {
  border-radius: 10px;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
.containerFooter--puo {
  border-radius: 10px;
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

#navbar {
  height: 5vh;
  background-color: rgb(255, 238, 203);
}

#header {
  height: 15vh;
  background-color: rgb(255, 238, 203);
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  height: 80vh;
  background-color: rgb(255, 238, 203);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */