@use "reset";
@use "variables" as v;
@use "firstPage";
@use "createTicket";
@use "menuStyle.scss";
@use "mixin";
@use "keyFrames";

#navbar {
  height: 5vh;
  background-color: v.$mainColor;
  background-color: white;
  border: 1px solid black;
}

#header {
  height: 15vh;
  background-color: v.$mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  height: 80vh;
  background-color: v.$mainColor;
  border: 1px solid black;
  @include mixin.centerColumn;
}
